# flyctl launch added from .gitignore
**/.vscode
**/.DS_Store

# SQLite DB
**/database.db

# flyctl launch added from vendor/github.com/Microsoft/go-winio/.gitignore
vendor/github.com/Microsoft/go-winio/**/.vscode

vendor/github.com/Microsoft/go-winio/**/*.exe

# testing
vendor/github.com/Microsoft/go-winio/**/testdata

# go workspaces
vendor/github.com/Microsoft/go-winio/**/go.work
vendor/github.com/Microsoft/go-winio/**/go.work.sum

# flyctl launch added from vendor/github.com/bits-and-blooms/bitset/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/bits-and-blooms/bitset/**/*.o
vendor/github.com/bits-and-blooms/bitset/**/*.a
vendor/github.com/bits-and-blooms/bitset/**/*.so

# Folders
vendor/github.com/bits-and-blooms/bitset/**/_obj
vendor/github.com/bits-and-blooms/bitset/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/bits-and-blooms/bitset/**/*.[568vq]
vendor/github.com/bits-and-blooms/bitset/**/[568vq].out

vendor/github.com/bits-and-blooms/bitset/**/*.cgo1.go
vendor/github.com/bits-and-blooms/bitset/**/*.cgo2.c
vendor/github.com/bits-and-blooms/bitset/**/_cgo_defun.c
vendor/github.com/bits-and-blooms/bitset/**/_cgo_gotypes.go
vendor/github.com/bits-and-blooms/bitset/**/_cgo_export.*

vendor/github.com/bits-and-blooms/bitset/**/_testmain.go

vendor/github.com/bits-and-blooms/bitset/**/*.exe
vendor/github.com/bits-and-blooms/bitset/**/*.test
vendor/github.com/bits-and-blooms/bitset/**/*.prof

vendor/github.com/bits-and-blooms/bitset/**/target

# flyctl launch added from vendor/github.com/consensys/bavard/.gitignore

vendor/github.com/consensys/bavard/**/.idea/*

# flyctl launch added from vendor/github.com/crate-crypto/go-kzg-4844/.gitignore
vendor/github.com/crate-crypto/go-kzg-4844/**/.DS_STORE
vendor/github.com/crate-crypto/go-kzg-4844/**/.idea

# flyctl launch added from vendor/github.com/deckarep/golang-set/v2/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/deckarep/golang-set/v2/**/*.o
vendor/github.com/deckarep/golang-set/v2/**/*.a
vendor/github.com/deckarep/golang-set/v2/**/*.so

# Folders
vendor/github.com/deckarep/golang-set/v2/**/_obj
vendor/github.com/deckarep/golang-set/v2/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/deckarep/golang-set/v2/**/*.[568vq]
vendor/github.com/deckarep/golang-set/v2/**/[568vq].out

vendor/github.com/deckarep/golang-set/v2/**/*.cgo1.go
vendor/github.com/deckarep/golang-set/v2/**/*.cgo2.c
vendor/github.com/deckarep/golang-set/v2/**/_cgo_defun.c
vendor/github.com/deckarep/golang-set/v2/**/_cgo_gotypes.go
vendor/github.com/deckarep/golang-set/v2/**/_cgo_export.*

vendor/github.com/deckarep/golang-set/v2/**/_testmain.go

vendor/github.com/deckarep/golang-set/v2/**/*.exe
vendor/github.com/deckarep/golang-set/v2/**/.idea

# flyctl launch added from vendor/github.com/ethereum/go-ethereum/.gitignore
# See http://help.github.com/ignore-files/ for more about ignoring files.
#
# If you find yourself ignoring temporary files generated by your text editor
# or operating system, you probably want to add a global ignore instead:
#   git config --global core.excludesfile ~/.gitignore_global

vendor/github.com/ethereum/go-ethereum/**/*/**/*un~
vendor/github.com/ethereum/go-ethereum/**/*/**/*.test
vendor/github.com/ethereum/go-ethereum/**/*un~
vendor/github.com/ethereum/go-ethereum/**/.DS_Store
vendor/github.com/ethereum/go-ethereum/**/*/**/.DS_Store

#*
vendor/github.com/ethereum/go-ethereum/**/.#*
vendor/github.com/ethereum/go-ethereum/**/*#
vendor/github.com/ethereum/go-ethereum/**/*~
vendor/github.com/ethereum/go-ethereum/**/.project
vendor/github.com/ethereum/go-ethereum/**/.settings

# used by the Makefile
vendor/github.com/ethereum/go-ethereum/build/_workspace
vendor/github.com/ethereum/go-ethereum/build/cache
vendor/github.com/ethereum/go-ethereum/build/bin
vendor/github.com/ethereum/go-ethereum/geth*.zip

# used by the build/ci.go archive + upload tool
vendor/github.com/ethereum/go-ethereum/geth*.tar.gz
vendor/github.com/ethereum/go-ethereum/geth*.tar.gz.sig
vendor/github.com/ethereum/go-ethereum/geth*.tar.gz.asc
vendor/github.com/ethereum/go-ethereum/geth*.zip.sig
vendor/github.com/ethereum/go-ethereum/geth*.zip.asc


# travis
vendor/github.com/ethereum/go-ethereum/**/profile.tmp
vendor/github.com/ethereum/go-ethereum/**/profile.cov

# IdeaIDE
vendor/github.com/ethereum/go-ethereum/**/.idea

# VS Code
vendor/github.com/ethereum/go-ethereum/**/.vscode

vendor/github.com/ethereum/go-ethereum/**/tests/spec-tests

# flyctl launch added from vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.o
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.a
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.so

# Folders
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/_obj
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.[568vq]
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/[568vq].out

vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.cgo1.go
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.cgo2.c
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/_cgo_defun.c
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/_cgo_gotypes.go
vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/_cgo_export.*

vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/_testmain.go

vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*.exe

vendor/github.com/ethereum/go-ethereum/crypto/secp256k1/**/*~

# flyctl launch added from vendor/github.com/ethereum/go-verkle/.gitignore
vendor/github.com/ethereum/go-verkle/**/precomp
vendor/github.com/ethereum/go-verkle/**/*.png
vendor/github.com/ethereum/go-verkle/**/*.prof
vendor/github.com/ethereum/go-verkle/**/*.cov
vendor/github.com/ethereum/go-verkle/**/.vscode
vendor/github.com/ethereum/go-verkle/**/*.tbz2
vendor/github.com/ethereum/go-verkle/**/*.tar
vendor/github.com/ethereum/go-verkle/**/cover.out

# flyctl launch added from vendor/github.com/go-chi/chi/.gitignore
vendor/github.com/go-chi/chi/**/.idea
vendor/github.com/go-chi/chi/**/*.sw?
vendor/github.com/go-chi/chi/**/.vscode

# flyctl launch added from vendor/github.com/go-chi/chi/v5/.gitignore
vendor/github.com/go-chi/chi/v5/**/.idea
vendor/github.com/go-chi/chi/v5/**/*.sw?
vendor/github.com/go-chi/chi/v5/**/.vscode

# flyctl launch added from vendor/github.com/gorilla/websocket/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/github.com/gorilla/websocket/**/*.o
vendor/github.com/gorilla/websocket/**/*.a
vendor/github.com/gorilla/websocket/**/*.so

# Folders
vendor/github.com/gorilla/websocket/**/_obj
vendor/github.com/gorilla/websocket/**/_test

# Architecture specific extensions/prefixes
vendor/github.com/gorilla/websocket/**/*.[568vq]
vendor/github.com/gorilla/websocket/**/[568vq].out

vendor/github.com/gorilla/websocket/**/*.cgo1.go
vendor/github.com/gorilla/websocket/**/*.cgo2.c
vendor/github.com/gorilla/websocket/**/_cgo_defun.c
vendor/github.com/gorilla/websocket/**/_cgo_gotypes.go
vendor/github.com/gorilla/websocket/**/_cgo_export.*

vendor/github.com/gorilla/websocket/**/_testmain.go

vendor/github.com/gorilla/websocket/**/*.exe

vendor/github.com/gorilla/websocket/**/.idea
vendor/github.com/gorilla/websocket/**/*.iml

# flyctl launch added from vendor/github.com/holiman/uint256/.gitignore
vendor/github.com/holiman/uint256/.idea


# go output files
vendor/github.com/holiman/uint256/**/*.test
vendor/github.com/holiman/uint256/**/*.out
vendor/github.com/holiman/uint256/**/*.pb.gz

# flyctl launch added from vendor/github.com/mattn/go-sqlite3/.gitignore
vendor/github.com/mattn/go-sqlite3/**/*.db
vendor/github.com/mattn/go-sqlite3/**/*.exe
vendor/github.com/mattn/go-sqlite3/**/*.dll
vendor/github.com/mattn/go-sqlite3/**/*.o

# VSCode
vendor/github.com/mattn/go-sqlite3/**/.vscode

# Exclude from upgrade
vendor/github.com/mattn/go-sqlite3/**/upgrade/*.c
vendor/github.com/mattn/go-sqlite3/**/upgrade/*.h

# Exclude upgrade binary
vendor/github.com/mattn/go-sqlite3/**/upgrade/upgrade

# flyctl launch added from vendor/github.com/matttproud/golang_protobuf_extensions/pbutil/.gitignore
vendor/github.com/matttproud/golang_protobuf_extensions/pbutil/**/cover.dat

# flyctl launch added from vendor/github.com/mmcloughlin/addchain/.gitignore
vendor/github.com/mmcloughlin/addchain/**/dist

# flyctl launch added from vendor/github.com/prometheus/client_golang/prometheus/.gitignore
vendor/github.com/prometheus/client_golang/prometheus/**/command-line-arguments.test

# flyctl launch added from vendor/github.com/prometheus/procfs/.gitignore
vendor/github.com/prometheus/procfs/fixtures

# flyctl launch added from vendor/github.com/tklauser/go-sysconf/.gitignore
vendor/github.com/tklauser/go-sysconf/**/_obj

# flyctl launch added from vendor/go.uber.org/multierr/.gitignore
vendor/go.uber.org/multierr/vendor
vendor/go.uber.org/multierr/**/cover.html
vendor/go.uber.org/multierr/**/cover.out
vendor/go.uber.org/multierr/bin

# flyctl launch added from vendor/go.uber.org/zap/.gitignore
# Compiled Object files, Static and Dynamic libs (Shared Objects)
vendor/go.uber.org/zap/**/*.o
vendor/go.uber.org/zap/**/*.a
vendor/go.uber.org/zap/**/*.so

# Folders
vendor/go.uber.org/zap/**/_obj
vendor/go.uber.org/zap/**/_test
vendor/go.uber.org/zap/**/vendor

# Architecture specific extensions/prefixes
vendor/go.uber.org/zap/**/*.[568vq]
vendor/go.uber.org/zap/**/[568vq].out

vendor/go.uber.org/zap/**/*.cgo1.go
vendor/go.uber.org/zap/**/*.cgo2.c
vendor/go.uber.org/zap/**/_cgo_defun.c
vendor/go.uber.org/zap/**/_cgo_gotypes.go
vendor/go.uber.org/zap/**/_cgo_export.*

vendor/go.uber.org/zap/**/_testmain.go

vendor/go.uber.org/zap/**/*.exe
vendor/go.uber.org/zap/**/*.test
vendor/go.uber.org/zap/**/*.prof
vendor/go.uber.org/zap/**/*.pprof
vendor/go.uber.org/zap/**/*.out
vendor/go.uber.org/zap/**/*.log

vendor/go.uber.org/zap/bin
vendor/go.uber.org/zap/**/cover.out
vendor/go.uber.org/zap/**/cover.html

# flyctl launch added from vendor/golang.org/x/sys/unix/.gitignore
vendor/golang.org/x/sys/unix/**/_obj
vendor/golang.org/x/sys/unix/**/unix.test
fly.toml
